
@{
    ViewBag.Title = "YeniHakkimda";
    Layout = "~/Views/Shared/_AdminLAyout.cshtml";
}


<form class="card-form" method="post" style="max-width: 1200px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
    <div class="form-group" style="margin-bottom: 20px;">
        <label for="CardID" style="font-weight: bold;">ID</label>
        <input type="text" class="form-control" id="HakkimdaID" name="HakkimdaID" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" disabled>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label for="CardBaslik" style="font-weight: bold;">AÇIKLAMA</label>
        <input type="text" class="form-control" id="CardBaslik" name="HakkımdaAciklama" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
    </div>
   
    <div class="form-group" style="margin-top: 15px;">
        <button type="submit" class="btn btn-warning" style="padding: 10px 20px; border: none; border-radius: 5px; background-color: #ffc107; color: #fff; cursor: pointer;">HAKKIMDA EKLE</button>
    </div>
</form>



