
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="background-image:url('/assets/img/OIP (3).jpg');">

    @Html.Partial("PartialGiris")
    @Html.Partial("hakkımda")
    
    @Html.Partial("Partialhaber")
    @Html.Partial("PartialFooter")


 

</div>