@model List<DinamikBlogSite.Models.Entity.TBLCARDS>

<style>
    .body {
        background-color: #333;
        color: #fff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        border: 2px solid white;
    }

        .body:hover {
            border-color: yellow;
            background-color: black;
            color: white;
        }


    .social-icons ul li {
        display: inline-block;
        margin: 0 10px;
    }

        .social-icons ul li a {
            font-size: 30px;
            color: white;
            text-decoration: none;
            transition: color 0.3s;
        }

            .social-icons ul li a:hover {
                color: yellow;
            }
</style>

<div class="body" style="text-align:center;">
    <div class="social-icons">
        <ul>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            
        </ul>
    </div>
    <br />
</div>


